project:
  type: website
  output-dir: docs

website:
  title: "SDBC Blog"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "About"
        href: about.qmd
  page-footer:
    center: "Copyright 2026, SDBC Blog"

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
